<h1>My Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(order => { %>
        <tr>
            <td><%= order.id %></td>
            <td><%= new Date(order.created_at).toLocaleString() %></td>
            <td><%= order.status %></td>
            <td>$<%= order.total.toFixed(2) %></td>
        </tr>
        <% }) %>
    </tbody>
</table>
