body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f9f8;
}
.left-side {
    background: url('/img/login_img.jpg') no-repeat center center/cover;
    position: relative;
    height: 100vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.login-form {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.login-form h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    color: #0b1515;
    margin-bottom: 20px;
}
.btn-primary {
    background-color: #f46036;
    border-color: #f46036;
}
.btn-primary:hover {
    background-color: #e36414;
    border-color: #e36414;
}
.login-form a {
    color: #0b1515;
    font-weight: bold;
    text-decoration: none;
}
.login-form a:hover {
    color: #f46036;
}